/* $backgroundColor: #F8F4E4;
$primaryYellow: #F8CE6B;
$primaryOffGrey: #333333; */


html{
    margin:0;
    background-color: #F8F4E4;
}
body{
    margin:0
}
a{
    text-decoration: none;
    color:black;
}
ul{
    list-style: none;
}

.mainContainer{
    background-color: #F8F4E4;
    min-height: 100vh;
}

.headerContainer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:2%;
}

.textIntroCotnainer{
    background-color: #333333;
    max-width: 55%;
    color: #F8CE6B;
    padding:1%;
}

.featuredProjectsContainer{
    background-color: #F8CE6B;
    min-height:100px;
}

.allProjectsContainer{
    min-height:100px;
    padding-bottom: 30px;
}

.singleProjImage{
    overflow: hidden;
    transition: 0.5s;
    max-width: 100%;
}
.singleProjImage:hover{
    cursor: pointer;
    transform:scale(1.1);
}

.checkitoutbutton{
    display: inline-flex;
    background-color: white;
    padding: 5px;
    border-radius: 25px;
    width: 170px;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}
.checkitoutbutton:hover{
    background-color: #F8CE6B;
}

.featuredButtons{
    position: absolute;
    margin: 25px;
    height: 2em;
    width: 2em;
}

.featuredButtons:hover{
    cursor: pointer;
}

.featuredContent{
    max-width: 40%;
    font-size: 1.2em;
}

.projectScreenshot{
    max-width: 95%;
    margin: 1%;
}

.projectAboutContainer{
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.projectLinks{
    color:#333333;
    transition: 0.3s;
}
.projectLinks:hover{
    text-decoration: underline;
    color:'black'
}

.projectGif{
    height: 800px;
    width: 100%;
    background-position: top;
    box-sizing: border-box;
    border: 15px solid #F8CE6B;
    background-repeat: no-repeat;
    background-color: #333333;
}

/* <div style={{display:'flex', flexDirection:'column', justifyContent:'center', alignItems:'center', backgroundColor:'#F8CE6B', maxWidth:'70%', margin:'auto', borderRadius:'25px', border:'3px solid black'}}> */

.projectContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #F8CE6B;
    max-width: 70%;
    margin: auto;
    border-radius: 25px;
    border: 3px solid black; */
}

@media only screen and (max-width: 300px) {
    .featuredProjectsContainer{
        display: none;
    }
    .projectGif{
        display: none;
    }
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    .projectAboutContainer{
        max-width: 90%;
    }
    .textIntroCotnainer{
        max-width: 100%;
    }
    .headerContainer{
        flex-wrap: wrap;        
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 768px) {
   
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (max-width: 992px) {
    .projectAboutContainer{
        max-width: 90%;
    }
    .featuredContent{
        max-width: 100%;
        font-size: 1em;
        margin:65px;
    }
    /* .projectContainer{
        max-width: 95%;
    } */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

}